body {
	background-color: white;
	text-align: center;
	width: 85%;
	margin: auto;
}

header {
	width: 35%;
	height: 3em;
	margin: auto;
	font-size: 1em;
	background-color: #569C87;
	color: #F5C74A;
}

footer {
	width: 35%;
	height: 2em;
	margin: auto;
	font-size: 1em;
	color: #F5C74A;
	background-color: #569C87;
}


footer p {
	margin: 0.3em auto;
	display: inline;
}

footer > :first-child {
	float: left;
	margin-left: 0.7em;
}

footer > :last-child {
	float: right;
	margin-right: 0.7em;
}

#corp_menu_pricipal {
	width: 40%;
	margin: 1em auto;
}

 img {
	width: 35%;
}

.note_enchantee,
.chic_fr,
.delice_papilles,
.palettes_gout {
	display: inline;
}

h2 {
	width: 15%;
	color: #F5C74A;
	background-color: #569C87;
	margin: 0.5em auto;
	font-size: 1.2em;
}