html {
	background-color: #ddd;
}

body {
	background-color: white;
	text-align: center;
	padding: 0 0 30px 0;
}

body, header, footer {
	max-width: 700px;
	width: 100%;
	margin: auto;
}

header,
footer {
	background-color: #569C87;
}

h1 {
	font-size: 46px;
	margin: 0;
	padding: 26px;
}

h1,
footer a,
.prochainement a {
	color: #F5C74A;
	font-family: Roboto, cursive;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
}

footer a {
	font-size: 18px;
	text-decoration: none;
}

footer a:first-child {
	float: left;
	padding: 20px 0px 0 25px ;
}

footer a:last-child {
	float: right;
	padding: 20px 25px 20px 0;
}

/* 100px de bootom pour pouvoir fixer le footer sans cacher le contenue de la page */
#conteneur-ohmyfood,
#conteneur-note-enchantee {
	margin: 20px auto 100px;
}

.menu {
	width: 37%;
	height: 350px;
	margin: 4%;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0 0 4px 4px #ddd;
	text-decoration: none;
}

.menu-1 {
	background-color: #fcdfdb;
}

.menu-2 {
	background-color: #fff5fe;
}

.menu-3 {
	background-color: #f9f9f9;
}

.menu-4 {
	background-color: #fdfffd;
}

.menu .music {
	font-size: 35px;
	margin: 100px 0 10px 0;
	background: -webkit-linear-gradient(180deg, #f7926e, #f15260);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu-1 h2 {
	font-family: Satisfy, cursive;
	font-size: 25px;
	color: #4B2227;
	margin: 0 0 10px 0;
}

.menu-2
.menu-3
.menu-4, 
h2 {
	margin: 140px 0 10px 0;
}

.menu-2 h2 {
	font-family: 'Patrick+Hand', cursive;
	font-size: 22px;
	background: -webkit-linear-gradient(180deg, #9865fb, #e1a162);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu-3 h2 {
	font-family: Satisfy, cursive;
	font-size: 26px;
	background: -webkit-linear-gradient(180deg, #148cfb, #133fe1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu-4 h2 {
	font-family: 'Courgette', cursive;
	font-size: 26px;
	background: -webkit-linear-gradient(180deg, #c5ff8d, #489945);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menu-1 span {
	font-size: 22px;
	font-family: Kalam, cursive;
	color: #3e151b;
	font-weight: bold;
	text-transform: uppercase;
}

.menu-2 span {
	font-family: 'Courgette', cursive;
	font-size: 25px;
	color: #c77412;
	font-weight: bold;
}

.menu-3 span {
	font-family: Satisfy, cursive;
	font-size: 24px;
	color: #0887fb;
}

.menu-4 span {
	font-family: Satisfy, cursive;
	font-size: 24px;
	color: #72bf56;
}

.menu div:hover {
	transform: scale(1.1);
	overflow: hidden;
	opacity: 0.33;
}

/* Bouton prochainement */
.prochainement {
	width: 30%;
	margin: 20px auto;
	background-color: #569C87;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 10px;
}

.prochainement a {
	/*color: #F5C74A;*/
	text-decoration: none;
}

/* le pied du page */
footer a:hover {
   animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
   transform: translate3d(0, 0, 0);
   backface-visibility: hidden;
   perspective: 1000px;
}

@keyframes shake {
   10%, 90% {
   transform: translate3d(-1px, 0, 0);
}
   20%, 80% {
   transform: translate3d(2px, 0, 0);
}
   30%, 50%, 70% {
   transform: translate3d(-4px, 0, 0);
}
   40%, 60% {
   transform: translate3d(4px, 0, 0);
}

}

.points {
   margin: 0 auto;
   width: 70px;
   text-align: center;
}

.points > span {
   width: 12px;
   height: 12px;
   background-color: #F5C74A;
   border-radius: 100%;
   display: inline-block;
   animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.points .bounce1 {
   animation-delay: -0.32s;
}

.points .bounce2 {
   animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
   0%, 80%, 100% { 
   transform: scale(0);
}
   40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
   }
}



/* plat la note enchantée */
#conteneur-note-enchantee h2 {
	margin: 20px 0 10px 0;
	font-size: 25px;
	color: #353535;
}

.plat {
	/*font-family: "Patrick+Hand";*/
	background-color: #fcdfdb;
	color: #3D1319;
	margin: 0 20px 0 20px;
}


.haut-plat .music {
	font-size: 60px;
	padding: 50px 0 0 0;
	background: -webkit-linear-gradient(180deg, #f7926e, #f15260);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.haut-plat h3 {
	font-family: Satisfy;
	/*color: #3D1319;*/
	font-size: 40px;
	padding: 0 0 20px 0;
	margin: 10px 0 40px 0;
}

.categorie-entree
.categorie-plat
.categorie-dessert, h3 {
	font-family: Satisfy;
	font-size: 25px;
}

h3:hover {
	/*text-decoration:underline;*/
}


.categorie-entree
.categorie-plat
.categorie-dessert, h3::before,
.categorie-entree
.categorie-plat
.categorie-dessert, h3::after {
	content: '';
	display: inline-block;
	height:4px;
	background: #593136;
	/*position: absolute;*/
}

.categorie-entree h3::before,
.categorie-entree h3::after {
	width: 170px;
}

.categorie-entree h3::before {
	text-align: left;
	margin: 0 40px 0 0px;
}

.categorie-entree h3::after {
	text-align: right;
	margin: 0 0px 0 40px;
}

ul {
	font-size: 17px;
	list-style-type: none;
	margin: 20px 30px 50px 30px;
}

ul li {
	text-align: left;
	margin-bottom: 15px;
}

.prix {
	float: right;
}

.bas-plat .music {
	font-size: 36px;
	padding: 40px 0 40px 0;
	margin-right: 5px;
	background: -webkit-linear-gradient(180deg, #f7926e, #f15260);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bas-plat span {
	color : #4B2227;
	font-size: 25px;
	font-family: Satisfy;
	font-weight: bold;
}

/*
.prix::after {
	content: "€";
}
*/