#conteneur .plat {
	background-color: #FDFFFD;
	color: #8F8F8F;
	margin: 30px 50px;
	padding-bottom: 30px;
	font-family: "Kalam";
}

h2 {
	color: #61B14D;
}

h2 span {
	color: #BEFF7F;
}

.plat ul {
	list-style-type: none;
	text-align: left;
	padding: 0 40px;
}

.prix {
	float: right;
}