#conteneur-note-enchantee h2 {
	margin: 20px 0 10px 0;
	font-weight: bold;
	font-size: 30px;
	color: black;
}

.plat {
	/*font-family: "Patrick+Hand";*/
	background-color: #fcdfdb;
	color: #3D1319;
}

.haut-plat .music {
	font-size: 60px;
	padding: 50px 0 0 0;
	background: -webkit-linear-gradient(180deg, #f7926e, #f15260);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*margin-bottom: 20px 0 0 0;*/
}

.haut-plat h3 {
	font-family: Satisfy;
	/*color: #3D1319;*/
	font-size: 40px;
	padding: 0 0 20px 0;
	margin: 10px 0 40px 0;
}

.categorie-entree
.categorie-plat
.categorie-dessert, h3 {
	font-family: Satisfy;
	font-size: 25px;
}

h3:hover {
	/*text-decoration:underline;*/
}


.categorie-entree
.categorie-plat
.categorie-dessert, h3::before,
.categorie-entree
.categorie-plat
.categorie-dessert, h3::after {
	content: '';
	display: inline-block;
	height:4px;
	background: #593136;
	/*position: absolute;*/
}

.categorie-entree h3::before,
.categorie-entree h3::after {
	width: 170px;
}

.categorie-entree h3::before {
	text-align: left;
	margin: 0 40px 0 0px;
}

.categorie-entree h3::after {
	text-align: right;
	margin: 0 0px 0 40px;
}

ul {
	font-size: 17px;
	list-style-type: none;
	margin: 20px 30px 50px 30px;
}

ul li {
	text-align: left;
	margin-bottom: 15px;
}

.prix {
	float: right;
}

.bas-plat .music {
	font-size: 36px;
	padding: 40px 0 40px 0;
	margin-right: 5px;
	background: -webkit-linear-gradient(180deg, #f7926e, #f15260);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bas-plat span {
	color : #4B2227;
	font-size: 25px;
	font-family: Satisfy;
	font-weight: bold;
}

/*
.prix::after {
	content: "€";
}
*/