#conteneur .plat {
	background-color: #FDFFFD;
	color: #8F8F8F;
}

.plat h2 {
	font-family: 'Courgette', cursive;
	font-size: 48px;
	background: -webkit-linear-gradient(180deg, #CFFEA3, #41963C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.plat ul {
	padding: 0px 10px;
}


.bien-commencer h3 {
}

.bien-commencer ul {
}

.bien-continuer h3 {
}

.bien-continuer ul {
}

.bien-terminer h3 {
}

.bien-terminer ul {
}
