.plat {
	padding: 30px 50px;
	background-color: #FFF5FE;
	font-family: "Ariel";
}
/* Couleur du <h2> (Le chic à la française */ 
.plat h2 {
	padding: 20px 0 30px;
	font-size: 30px;
	background: -webkit-linear-gradient(180deg, #915DF6, #D37D22);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.plat ul {
	font-size: 18px;
	list-style-type: none;
	text-align: left;
	margin-top: 15px;
	padding: 0px 30px 30px;
}

ul li {
	margin-bottom: 10px;
}

.prix {
	float: right;
}

.plat h3 {
	font-size: 20px;
	padding-bottom: 0px;
	margin-bottom: 0;
}

.maron h3 {
	color: #CA7D22;
}

.maron ul {
	color: #C8781A;
}

.violet h3 {
	color: #B580AB;
}

.violet ul {
	color: #AE77A4;
}

.bleu h3 {
	color: #9B80DB;
}

.bleu ul {
	color: #9B81DB;
}

/*
hr {
	width: 50px;
	height: 2px;
	display: inline-block;
}
*/
