
/*

.plat {
	background-color: #FDFFFD;
	color: #8F8F8F;
}

.titre-plat h3 {
	font-family: 'Courgette', cursive;
	font-size: 40px;
	padding: 40px 0 40px 0;
	background: -webkit-linear-gradient(180deg, #CFFEA3, #41963C);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



h3 {
	font-family: Kalam, cursive;
	font-size: 20px;
	padding: 5px 0 5px 0;
	margin: 0;
}


ul {
	font-size: 18px;
	list-style-type: none;
	text-align: left;
	padding: 5px 30px 20px 30px;
}

ul li {
	margin-bottom: 15px;
}

.prix {
	float: right;
}

*/


/*

.plat ul {
	padding: 0px 10px;
}


.bien-commencer h3 {
}

.bien-commencer ul {
}

.bien-continuer h3 {
}

.bien-continuer ul {
}

.bien-terminer h3 {
}

.bien-terminer ul {
}
